/*-----------------------------------------------------------------------------------

[Master Stylesheet]

Project:    Primax - Multipupose HTML5 Template
Version:    1
Last change:    21/05/2018 [CSS Table Of Content]
Primary use:    Business
Note: This is Short code style file. All Short code related style included in this file.

-----------------------------------------------------------------------------------

    [Table of contents]

    1. Theme Default CSS (body, link color, section etc)
	2. who-area-are
	3. section-heading
	4. brand-area
	5. project-count-area
	6. contact-area
	7. faq
	8. accordion -> css/shortcode/accordion.css
	9. alert -> css/shortcode/alert.css
	10. blog -> css/shortcode/blog.css
	11. breadcrumb -> css/shortcode/breadcrumb.css
	12. default -> css/shortcode/default.css
	13. footer -> css/shortcode/footer.css
	14. header  -> css/shortcode/header.css
	14. portfolio -> css/shortcode/portfolio.css
	16. pricing -> css/shortcode/pricing.css
	17. service -> css/shortcode/service.css
	18. shortcodes -> css/shortcode/shortcodes.css
	19. slider -> css/shortcode/slider.css
	20. tabs -> css/shortcode/tabs.css
	21. team -> css/shortcode/team.css
	22. testimonial -> css/shortcode/testimonial.css

-----------------------------------------------------------------------------------*/

/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
@import url("animate.css");
html, body {height: 100%;}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.alignright {float:right;margin-left:15px;margin-bottom: 15px}
.aligncenter {display:block;margin:0 auto 15px}
a:focus {outline:0px solid}
img {max-width:100%;height:auto}
.fix {overflow:hidden}
p {margin:0 0 15px;}
a {transition: all 0.3s ease 0s;text-decoration:none;color:#444}
a:active, a:hover {
  outline: 0 none;
}
ul{
list-style: outside none none;
margin: 0;
padding: 0
}
.clear{clear:both}
body {font-family: 'Lato', sans-serif;color:#444;transition:.3s;line-height: 29px;}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.hover-bg-opacity a {
  display: block;
  position: relative;
}
.hover-bg-opacity a::before {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
  transition:.3s
}
.btn {
  background-color: #03a9f4;
  border: 0 none;
  border-radius: 2px;
  color: #fff;
  font-size: 16px;
  height: 50px;
  line-height: 26px;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.btn-small {
  font-size: 11px;
  height: auto;
  letter-spacing: 1px;
  padding: 6px 17px;
}
.btn-lg {
  padding: 12px 38px;
}
.btn-lg-extra {
  padding: 12px 60px;
}
.btn.focus, .btn:focus, .btn:hover {
  color: #fff;
}
.btn:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.parallax-bg {
  background-attachment: fixed !important;
}
.bg-color{background:#FAFAFA}
.pad-left-0{padding-left:0}
.pad-right-0{padding-right:0}
.mt-60{margin-top:60px}
.mb-30{margin-bottom:30px}
.mb-70{margin-bottom:70px}
.pad-20{padding:20px 0}
.pad-30{padding:30px 0}
.pad-70{padding:70px 0}
.pad-90{padding:90px 0}
.pad-120{padding:120px 0}
.radius-4{border-radius:4px}
.bg-theme-color{background:#03A9F4;}
.white-text{color:#fff!important}
.footer-bg{background:#252525;}
.footer-bg-2{background:#202020;}
.brand-bg{background:#03A9F4;}
.brand-color {
  color: #03a9f4;
}
.mt-30 {
  margin-top: 30px;
}
.bg-img {
  background: rgba(0, 0, 0, 0) url("../img/bg/bg1.jpg") repeat fixed center center / cover ;
}
.bg-img-2 {
  background: rgba(0, 0, 0, 0) url("../img/bg/bg-2.jpg") repeat fixed center center / cover ;
}
.bg-img-3 {
  background: rgba(0, 0, 0, 0) url("../img/bg/bg-3.jpg") repeat scroll center center / cover ;
}
.bg-breadcrumb{
  background: rgba(0, 0, 0, 0) url("../img/bg/breadcamb.jpg") repeat scroll center center / cover ;
}
.bg-breadcrumb-2{
  background: rgba(0, 0, 0, 0) url("../img/bg/breadcamb-2.jpg") repeat scroll center center / cover ;
}
.bg-img-4{
  background: rgba(0, 0, 0, 0) url("../img/bg/bg-4.jpg") repeat scroll center center / cover ;
}
.bg-img-5 {
  background: rgba(0, 0, 0, 0) url("../img/bg/bg-5.jpg") repeat fixed center center / cover ;
}
.bg-img-6{
  background: rgba(0, 0, 0, 0) url("../img/bg/bg-6.jpg") repeat fixed center center / cover ;
}
.bg-img-7{
  background: rgba(0, 0, 0, 0) url("../img/bg/bg-7.jpg") repeat fixed center center / cover ;
}
.bg-img-8{
  background: rgba(0, 0, 0, 0) url("../img/slider/slider-1/bg.jpg") repeat fixed center center / cover ;
}
.bg-img-9{
  background: rgba(0, 0, 0, 0) url("../img/bg/bg-9.jpg") repeat fixed center center / cover ;
}
.video-bg-img{
  background: rgba(0, 0, 0, 0) url("../img/bg/video-bg.jpg") repeat fixed center center / cover ;
}
.bg-test-img{
  background: rgba(0, 0, 0, 0) url("../img/bg/bg-test.jpg") repeat fixed center center / cover ;
}
.bg-100vh{height:100vh}
/*------------- 2. who-area-are ---------------*/
.who-area-are{}
.who-we{}
.who-we p{}
.who-we p a{color:#03A9F4}
.who-we p a:hover{text-decoration:underline;}
.title-1 {
	text-transform: uppercase;
	letter-spacing: 2px;
}
.progress-list {
  margin-top: 43px;
}
.progress-list .progress:last-child{margin-bottom:0;}
.our-skill .progress {
  background-color: #f0f0f0;
  border-radius: 0;
  box-shadow: none;
  height: 6px;
  margin-bottom: 43px;
  overflow: visible;
  position: relative;
}
.our-skill .lead {
  color: #444;
  font-size: 13px;
  font-weight: 700;
  left: 0;
  position: absolute;
  top: -23px;
}
.our-skill .progress-bar > span {
  background: #333 none repeat scroll 0 0;
  float: right;
  font-size: 11px;
  margin-right: 10px;
  margin-top: -26px;
  padding: 0 5px;
  position: relative;
}
.our-skill .progress-bar > span::before, .our-skill .progress-bar > span::after {
  border: medium solid transparent;
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  width: 0;
}
.our-skill .progress-bar > span::before {
  border-top-color: #333;
  border-width: 5px;
  left: 50%;
  margin-left: -5px;
}
.our-skill .progress-bar {
  background-color: #03a9f4 ;
  box-shadow: none;
}
.progress-style-2{}
.progress-style-2 .progress {
  border-radius: 0;
  box-shadow: none;
  height: 23px;
}
.progress-style-2 .progress-bar {
  font-size: 14px;
  line-height: 23px;
  padding-left: 12px;
  text-align: left;
  text-transform: capitalize;
}
.progress-style-2-color .progress-bar {
  background-color: #03a9f4;
}

.progress-style-2
.progress-style-2
.progress-style-2
.progress-style-2
/*-------------3. section-heading ---------------*/
.section-heading{}
.section-heading h2 {
	display: inline-block;
	font-size: 35px;
	letter-spacing: 3px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	position: relative;
	text-transform: uppercase;
}
.section-heading h2::before {
  background: #444 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 65px;
}
.section-heading p{}
/*------------- 4. brand-area ---------------*/
.single-brand  {
  border: 1px solid #ddd;
  display: block;
  margin-bottom: 1px;
}
/*------------- 5. project-count-area ---------------*/
.project-count-area{}
.single-count{}
.single-count span {
  font-size: 35px;
}
.single-count h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  margin: 15px 0;
}
.single-count p {
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0;
  text-transform: capitalize;
}
/* 6. contact-area */
#map{height:400px;width:100%}
.contact-area{}
.contact-info{}
.contact-info ul{}
.contact-info ul li i {
  float: left;
  font-size: 30px;
  line-height: 38px;
  margin-right: 18px;
  width: 30px;
}
.contact-info ul li{}
.contact-info ul li .address {
  overflow: hidden;line-height: 25px;
}
.contact-info ul li p {
  line-height: 30px;
}
.input-field {
  margin-bottom: 45px;
  position: relative;
}
.input-field input,.input-field textarea{
	border:0;border-bottom:1px solid #ddd;
	width:100%;transition:.3s
 }
.input-field input:focus,.input-field textarea:focus{border-color:#03A9F4}
.input-field{}
.input-field textarea{}
/* 7. faq */
.faq-search{}
.faq-search form {
  position: relative;
}
.faq-search input {
  border: 1px solid #ddd;
}
.faq-search button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  height: 45px;
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
}
.faq-search p {
  margin: 0;
}
.single-faq h4 {
  border-top: 1px solid #ddd;
  font-family: "Lato",sans-serif;
  font-size: 16px;
  padding-top: 20px;
}
.answer-text h4 {
  letter-spacing: 0.3em;
}
.brand-img {
  margin-bottom: 30px;
  transition: box-shadow 0.3s ease 0s;
}
.brand-img:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.default-form {
  overflow: hidden;
}
.default-form input {
  margin-bottom: 30px;
}
.default-form textarea {
  height: 250px;
}
.form-messege{
  font-size: 18px;
  margin-bottom: 0;
  margin-left: 15px;
  margin-top: 15px;
}
.form-messege.success {
  color: green;
}
.form-messege.error {
  color: red;
}
.error-content{}
.error-content h1 {
  color: #03a9f4;
  font-size: 196px;
  font-weight: 400;
  line-height: 155px;
  margin-bottom: 40px;
  text-shadow: 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb, 0 0 6px #ffebeb;
}
.error-content p{color: #626262;
font-size: 20px;
margin-bottom: 35px;}
.error-style-2{}
.error-style-2 h1 {
  border: 2px solid #03a9f4;
  display: inline-block;
  padding: 34px;
  text-shadow: inherit;
}
.error-content form {
  position: relative;
}
.error-content form input{}
.error-content form button {
  background: #2a89fc none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
}
/* button */
.btn-mod, a.btn-mod {
  background: rgba(34, 34, 34, 0.9) none repeat scroll 0 0;
  border: 2px solid transparent;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 4px 13px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1) 0s;
  height:inherit;
  line-height: 1.42857;
}
.btn-mod.btn-large {
  font-size: 13px;
  height: auto;
  padding: 12px 45px;
}
.btn-mod.btn-round {
  border-radius: 2px;
}
.btn-mod.btn-medium {
  font-size: 12px;
  height: auto;
  padding: 8px 37px;
}
.btn-mod.btn-small {
  font-size: 11px;
  height: auto;
  letter-spacing: 1px;
  padding: 6px 17px;
}
.btn-mod.btn-border {
  background: transparent none repeat scroll 0 0;
  border: 2px solid #151515;
  color: #151515;
}
.btn-mod.btn-circle {
  border-radius: 30px;
}
.btn-mod.btn-gray {
  background: #e5e5e5 none repeat scroll 0 0;
  color: #777;
}
.btn-mod:hover, .btn-mod:focus, a.btn-mod:hover, a.btn-mod:focus {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  border-color: transparent;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 400;
  outline: medium none;
  text-decoration: none;
}
.btn-mod.btn-border:hover, .btn-mod.btn-border:focus {
  background: #000 none repeat scroll 0 0;
  border-color: transparent;
  color: #fff;
}
.btn-mod.btn-gray:hover, .btn-mod.btn-gray:focus {
  background: #d5d5d5 none repeat scroll 0 0;
  color: #444;
}
.img-gallery:hover a:before{opacity:.5}
.popup-youtube {
  color: #fff;
  font-size: 35px;
}
.see-video h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
}

