/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Primax - Multipupose HTML5 Template
Version:    1
Last change:    21/05/2018 [CSS Table Of Content]
Primary use:    Business 
Note: This is Short code style file. All Short code related style included in this file. 
-------------------------------------------------------------------*/

@import url("header.css");
@import url("slider.css");
@import url("footer.css");
@import url("default.css");
@import url("blog.css");
@import url("portfolio.css");
@import url("default.css");
@import url("breadcrumb.css");
@import url("tabs.css");
@import url("team.css");
@import url("testimonial.css");
@import url("accordion.css");
@import url("pricing.css");
@import url("service.css");
@import url("alert.css");